<div class="container">
  <h1>Notes</h1>

  <label for="create_note">Note:</label>
  <form action="/note" method="post" name="create_note">
  <input form="create_note" type="text" id="create_note" name="create_note">
  <button class="create_note" type="submit">Create</button>
  </form>

  <div class="notes">Notes</div>
</div>


